/* ==== FONTS ==== */

@import url('http://fonts.googleapis.com/css?family=Raleway');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: #bbb;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* ==== HEADER ==== */

.header {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px black;
}

.header .portrait {
    height: 100%;
    border: solid 2px black;
}

.header img {
    max-width:100%;
    max-height:100%;
}

.header .name {
    background-color: #FFFFFF;
    font-size: 34px;
    text-align: center;
    padding: 15px;
    border: solid 2px black;
    cursor: default;
}

.header .buttons {
    width: 150px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}

.header .button {
    min-width: 50%;
    height: 50%;
    flex: 1;
    font-size: 32px;
    display: flex;
    background-color: #bbb;
}
.header .button:hover {
    background-color: #fff;
    cursor: pointer;
}

.header .button-content {
    margin: auto;
}

.header .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header .fa-github:before {
    content: "\f09b";
}
.header .fa-linkedin:before {
    content: "\f0e1";
}
.header .fa-file:before {
    content: "\f15b";
}
.header .fa-envelope:before {
    content: "\f0e0";
}



/* ==== PROJECTS ==== */

.projects {
    flex: 1;
    border-bottom: solid 2px black;
}
.projects .project {
    min-height: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.projects .project a:link,
.projects .project a:visited,
.projects .project a:hover,
.projects .project a:active {
    color: #000;
}

.projects .project:hover {
    background-color: #fff;
    color: #000;
}
.projects .project:hover a:link,
.projects .project:hover a:visited,
.projects .project:hover a:hover,
.projects .project:hover a:active {
    color: #c24;
}

.projects .project-name {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.projects .project-description {
    padding-left: 10%;
    padding-right: 10%;
}



.projects .fleek {
    background-color: #FFADCD; /* bad */
}

.projects .blurtians {
    background-color: #CDADFF; /* bad */
}

.projects .primes {
    background-color: #E7ECD7;
}

.projects .hmmt {
    background-color: #FACDAA; /* bad */
}

.projects .stackoverflow {
    background-color: #D0EAF6;
}

.projects .emcc {
    background-color: #E8B1B5;
}
