@import url('http://fonts.googleapis.com/css?family=Raleway');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.page-wrapper {
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import 'header';
@import 'projects';
